header img {
	width: 2em;
	padding: 0.5em;
}

header {
	place-items: center;
	gap: 1em;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

.notification {
	padding: 0.75em;
	border-radius: 0.25em;
	margin-bottom: 1em;
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: 1000;
	cursor: pointer;
}

.notification span {
	display: block;
}
