@import 'femtocrank/style.css';
@import 'femtocrank/dark.css';

section.small {
	width: 60%;
	max-width: 720px;
	margin: auto;
}

.notification {
	padding: 0.75em;
	border-radius: 0.25em;
	margin-bottom: 1em;
	cursor: pointer;
}

.notification span {
	display: block;
}

.notification a {
	color: black;
	display: block;
	margin-top: 1em;
	font-weight: bold;
}

.inline-notification:last-child {
	margin-bottom: 0;
}

.gs2 {
	grid-column: 1 / span 2;
}

#nav-section-links h2 {
	color: #bbb;
	margin-left: .5em;
	margin-bottom: 0.5em;
}

#nav-section-links a:hover {
	color: white;
	background-color: #1d345c;
}

#nav-section-links a.active {
	text-decoration: underline;
	color: white;
	background-color: #1d345c;
}

#notification-list {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 300px;
	padding: 1em;
}

.user-info {
	padding: .5em;
}

table.data-table tr:hover td {
	background-color: #1d345c;
	color: white;
}

input:disabled {
	cursor: not-allowed !important;
}

input[type="checkbox"] {
	display: none;
}

button.neutral {
	background-color: transparent;
	color: white;
	border: #666 solid 1px;
}

button.neutral:hover {
	background-color: #666;
	color: white;
}

aside {
	background-color: black;
}

@media (max-width: 600px) {
	.grid-wide {
		grid-column: 1 / span 2;
	}
}
